<% if @request.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
       エラーが<%= @request.errors.count %>つあります。
    </div>
    <ul>
    <% @request.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
