<div class="profile-sidebar border">
    <div class="profile-userpic">
        <img src="/images/default_pic.png" class="img-responsive" alt="Cinque Terre">
    </div>
    <div class="profile-usertitle">
        <div class="profile-name">
            <%= @user.name %>
        </div>
        <div class="profile-username">
            ユーザー名: <%= @user.username %>
        </div>
    </div>
</div>