@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

/* header */
.Cnav {
  margin-bottom: 10px ;
  background-color: #0074D9;
}

.Cnav-item {
  margin-right: 20px ;
}

.Cdropdown {
  padding-top: 8px;
}

.CtextColor {
  color: white;
}


/* user profile */
.profile {
  margin: 20px;
  background: white;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
}

.profile-userpic {
  text-align:center;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-name {
  color:#0074D9;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-username {
  text-transform: uppercase;
  color:black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}


/* form */
#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}