@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}


body {
    padding-top: 60px;
}


/* header */
.navbar-inverse {
    background-color: #5ac9f1;
    border-color:white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-right {
    float: right !important;
    margin-right: 20px;
}


/* miscellaneous */
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}